.loginScreen{
    position: relative;
    height:100%;
background: url("https://assets.nflxext.com/ffe/siteui/vlv3/893a42ad-6a39-43c2-bbc1-a951ec64ed6d/1d86e0ac-428c-4dfa-9810-5251dbf446f8/IN-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg")center;
background-repeat: no-repeat;
background-size: cover;
color: #fff;
}
.Loginlogo{
    position: fixed;
    width:150px;
    object-fit: contain;
    padding-left: 100px;
    padding-top: 10px;
}
.Login_button{
    position: fixed;
    right: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
 
top:20px
}
.LoginScreen_gradient{
    
    width: 100%;
    z-index:1;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%);
        
}
.login_body{
    
z-index: 1;
padding:20px;
position: absolute;
top:25%;
 width: 100%;
 left:0;
 right:0;
 text-align: center;
}
.login_body > h1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Martel Sans', sans-serif;
  
}
.login_body>h2{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 400;
     
}
.Login_button_get{
     right: 100px;
    padding: 10px 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
   font-weight: 900;
   align-items: center;
   display: inline-flex;


}
 
.emailbox>form > input{
padding: 10px;
outline-width: 0;
height: 22px;
width:30%;
border:none;
max-width: 600px;
border-radius: 5px;
opacity: 50%;
color: #fff;
background-color: black;
}